#back {
    background-color: rgb(255, 255, 255);

    width: 600px;
    height: 610px;

    border: 2px solid;

    border-radius: 100px;

    margin: 20px auto;

    padding-top: 100px;

    overflow: hidden;
}

#front {

    width: 637px;
    height: 200px;

    background-color: rgb(75, 173, 5);

    margin-top: -200px;
    margin-left: -20px;

    left: 637px;
    top: 70px;

    text-align: center;

}


#칠판 {
    padding-top: 127px;
    font-size: 30px;
}


#box {
    float: left;

    position: none;

    margin: 20px 20px;

    width: 70px;
    height: 70px;

    margin-left: 50px;
    margin-top: 45px;

    border-radius: 15px;

    text-align:center;

    font-size: 50px;

}



#shuffle {

    margin-left: 32%;
    margin-top: -80px;
   
    width: 200px;
    height:40px;
    
    border: none;
    background-color: rgb(203, 239, 253);
    border-radius: 20px;
}